{% extends 'base.html.twig' %}

{% block title %}Profesores CRUD{% endblock %}

{% block body %}
<div class = "container p-4">
    <h1>Profesores CRUD</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Materia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for profesor in profesores %}
            <tr>
                <td>{{ profesor.id }}</td>
                <td>{{ profesor.nombre }}</td>
                <td>{{ profesor.apellido }}</td>
                {# <td>{{ profesor.materia_id }}</td> #}
                <td>
                    <a href="{{ path('app_profesores_show', {'id': profesor.id}) }}">Mostrar</a>
                    <a href="{{ path('app_profesores_edit', {'id': profesor.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No se encontraron datos :/</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profesores_new') }}">Ingresar un Profesor</a>
</div>
{% endblock %}
