{% extends 'base.html.twig' %}

{% block title %}Materias{% endblock %}

{% block body %}
    <h1>Materias</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ materia.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ materia.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_materias_index') }}">back to list</a>

    <a href="{{ path('app_materias_edit', {'id': materia.id}) }}">edit</a>

    {{ include('materias/_delete_form.html.twig') }}
{% endblock %}
